.container-buttons {
  background-color: #dce9ef;
  padding: 50px 0px;
}
.menu-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.menu-link {
  background-color: rgb(163, 207, 235);
  color: #212121;
  padding: 10px 20px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}
/*.menu-link:hover,
  .menu-link:focus,*/
.menu-link--active {
  background-color: rgb(20, 63, 232);
  color: #fafafa;
}

.list-js {
  display: grid;
  gap: 5px;
  padding: 0px;
}
