@media screen and (min-width:480px) {
	.section {
		padding: 60px 0px;
	}

	.section__title {
		font-size: 28px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
		margin-bottom: 30px;
	}
}

@media screen and (min-width:768px) {
	.section {
		padding: 60px 0px;
	}

	.section__title {
		font-size: 28px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
		margin-bottom: 30px;
	}
}

@media screen and (min-width:1200px) {
	.section {
		padding: 94px 0px;
	}

	.section__title {
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: .03em;
		color: #212121;
		margin-top: 0px;
		margin-bottom: 50px;
	}
}