*,
::after,
::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	padding: 0;
	list-style: none;
}

.contacts-item {
	display: flex;
	align-items: center;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {

	font-family: 'Roboto', sans-serif;
	font-size: var(--text-font-size);
	color: var(--accent-color);
	justify-content: center;
}

.link {
	text-decoration: none;
}

address {
	font-style: normal;
}

button {
	cursor: pointer;
}