* {
  box-sizing: border-box;
}
p,
h2,
h3 {
  margin: 0;
  line-height: 1.3;
  padding: 0px;
}
h2 {
  font-size: 22px;
  color: #07c21a;
}
h3 {
  font-size: 22px;
  color: #07540e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(8, 249, 32, 0.1);
  color: #212121;
  line-height: 1.3;
  padding: 0px;
  margin: 0px;
  background-position: 20px;
  background-image: url(../img/лапа.png);
}
ul {
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
}
element.style {
  max-width: 300px;
}

img {
  display: block;
  width: 450px;
  height: 300px;
}
.container__products {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(8, 249, 32, 0.1);
}
.wrap-logo {
  position: relative;
  left: 60px;
  top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.logo::before {
  content: '';
  display: block;
  background-image: url('../img/лапа-лого.png');
  background-size: cover; /* або інші значення, що підходять */
  background-position: center; /* або інші значення, що підходять */
  position: absolute;
  top: -20px;
  left: -70px;
  width: 60px;
  height: 60px;
}

.wrap-bascket-list,
.bascket-list {
  font-size: 18px;
  color: #07c21a;
  font-weight: 800;
}
.js-list-products {
  background-color: #e3ffe9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.js-list {
  padding: 0px;
  margin-top: 80px;
  display: block;
}
.js-card {
  box-shadow: 2px 0px 10px rgba(79, 80, 79, 0.7);
  border-radius: 8px;
  max-width: 500px;
  background-color: #b8e5bd;
}
.js-card:not(:last-child) {
  margin-bottom: 30px;
}
.wrap-container-description {
  padding: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.wrap-menu {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-left: 0px;
  margin: 0px;
  color: #07c21a;
}
.menu-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu-link {
  color: #023507;
  cursor: pointer;
  font-weight: 600;
}
.menu-link:hover,
.menu-link:focus,
.menu-link--active {
  color: #07c21a;
}
.js-info {
  color: #023507;
}
.button {
  background-color: #058712;
  color: #fafafa;
  border-color: #058712;
  border-radius: 10px;
  padding: 10px 15px;
}
.js-favorite {
  background-color: rgba(9, 238, 32, 0.23);
  color: #023507;
  border-color: rgba(9, 238, 32, 0.23);
  border-radius: 10px;
  padding: 10px 15px;
}

@media screen and (min-width: 320px) {
  .container-cat {
    padding: 50px 20px;
    background-color: rgb(219, 237, 182);
  }
  .image-cat {
    max-width: 600px;
    min-height: 400px;
    display: block;
  }
  .image-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: rgb(31, 68, 56);
  border: 1px solid rgb(31, 68, 56);
  cursor: pointer;
  vertical-align: middle;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
}
/*.item:hover {
  background-color: rgb(47, 157, 122);
}*/

/*--------------------бібліотека basicLightbox---------------------------------*/
.cats-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
.modal {
  background-color: rgb(216, 219, 222);
  padding: 20px;
}
.cat-img {
  box-shadow: 10px 10px 20px #00000060;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.text-error {
  color: red;
}
.cat-img:hover {
  transform: scale(1.05);
}
.modal-cat-name {
  font-weight: 500;
}
.modal-price {
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 480px) {
  .container__products {
    width: 100%;
    width: 480px;
    margin: 0px auto;
  }
  .cats-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }
}
.feedback-form {
  max-width: 600px;
}

@media (max-width: 748px) {
  .container__products {
    width: 748px;
  }
}
@media (max-width: 1200px) {
  .container__products {
    width: 1200px;
  }
}

@media (max-width: 2600px) {
  .container__products {
    max-width: 2600px;
  }
  .js-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
