$accent-color: #2196f3;
$primary-white-color: #fff;
$title-font-size: 16px;
$text-font-size: 14px;
$priamary-color: #212121;
$text-color: #757575;
$transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);