@media screen and (min-width:480px) {
	.section--no-padding-top {
		display: none;
	}
}

@media screen and (min-width:768px) {
	.section--no-padding-top {
		display: none;
	}
}

@media screen and (min-width:1200px) {
	.section--no-padding-top {
		display: block;
		padding-top: 0;
		padding-bottom: 94px;
	}

	.section-title {
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.03em;
		color: $priamary-color;
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.--no padding top {
		padding-top: 0px;
	}

	.work-list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
	}


	.work-list__overlay {
		position: relative;

		.work-list__img {
			display: block;
			width: 100%;
			height: 100%;
		}

		.work-list__text {
			position: absolute;
			display: flex;
			justify-content: center;
			height: 70px;
			background-color: rgba(47, 48, 58, 0.8);
			font-weight: 700;
			font-size: 14px;
			line-height: 1.14;
			align-items: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #fff;
			width: 100%;
			left: 0%;
			bottom: 0;
		}
	}
}