@media screen and (min-width:480px) {
	.section__section-portfolio {
		padding-top: 0;
	}

	.section__title--section-portfolio,
	.section__title--section-advantages {
		color: $priamary-color;
		font-size: 32px;
		text-align: center;
		margin-top: 0px;
		visibility: hidden;
	}

	.buttons {
		gap: 8px;
		margin-top: 0px;
		margin-bottom: 40px;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 15px;
	}

	.button {
		font-size: $title-font-size;
		font-family: 'Roboto';
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6px;
		text-align: center;
		letter-spacing: 0.03em;

		color: #212121;
		color: $priamary-color;
		font-weight: 500;
		border: 1px solid transparent;
		padding: 11px 22px;
		background: #f5f4fa;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
		transition: background-color $transion,
			color $transion,
			box-shadow $transion;

		&:hover,
		&:focus {
			color: $primary-white-color;
			background-color: $accent-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
			border-radius: 4px;
			transform: calc(1.2);
		}
	}
}

@media screen and (min-width:480px) and (max-width:960px) {

	.portfolio-list {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.portfolio-list__item {
		background: #ffffff;
		position: relative;
		max-width: 100%;
		height: auto;

	}

	.portfolio__link {
		display: block;

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
		}
	}

	.portfolio-overlay {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.wrap-portfolio-text {
		padding: 22px 20px;
		margin-top: 0px;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		width: 450px;
		border-top: none;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
	}

	.wrap-portfolio__title {
		color: $priamary-color;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		margin-bottom: 16px;
	}

	.wrap-portfolio__text {
		font-size: $title-font-size;
		color: $text-color;
		line-height: 1.9;
		letter-spacing: 0.03em;
	}


	.portfolio-overlay__img {
		display: block;
		max-width: 100%;
		height: auto;
		transition: opacity 0.1s linear;
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		transition-delay: 0s;
		margin: 0 auto;
	}




	.portfolio-overlay__text {
		background-color: rgba(33, 150, 243, 0.9);
		position: absolute;
		font-family: 'roboto';
		font-weight: 400;
		color: #fff;
		line-height: 1.5;
		font-size: 18px;
		letter-spacing: 0.03em;
		top: 0;
		left: 0;
		max-width: 450px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 77px 24px;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(100%);

		.portfolio__link:hover &,
		.portfolio__link:focus & {
			transform: translateY(0);
		}
	}
}


@media screen and (min-width:768px) {

	.section__title--section-portfolio,
	.section__title--section-advantages {
		color: $priamary-color;
		font-size: 32px;
		text-align: center;
		margin-top: 0px;
		visibility: hidden;
	}

	.buttons {
		display: flex;
		gap: 8px;
		margin-top: 0px;
		margin-bottom: 30px;
		justify-content: center;
	}

	.button {
		font-size: $title-font-size;
		font-family: 'Roboto';
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.03em;
		color: $priamary-color;
		font-weight: 500;
		border: 1px solid transparent;
		padding: 11px 22px;
		background: #f5f4fa;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
		transition: background-color $transion,
			color $transion,
			box-shadow $transion;

		&:hover,
		&:focus {
			color: $primary-white-color;
			background-color: $accent-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
			border-radius: 4px;
			transform: calc(1.2);
		}
	}
}

@media screen and (min-width:961px) {

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin: 0 auto;
	}

	.portfolio-list__item {
		background: #ffffff;
		position: relative;
	}

	.portfolio__link {
		display: block;

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
		}
	}

	.portfolio-overlay {
		position: relative;
		overflow: hidden;
	}

	.img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.wrap-portfolio-text {
		padding: 20px 24px;
		margin-top: 0px;
		border-top: none;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
	}

	.wrap-portfolio__title {
		color: $priamary-color;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		margin-bottom: 16px;
	}

	.wrap-portfolio__text {
		font-size: $title-font-size;
		color: $text-color;
		line-height: 1.87;
		letter-spacing: 0.03em;
	}


	.portfolio-overlay__img {
		display: block;
		max-width: 100%;
		height: auto;
		transition: opacity 0.1s linear;
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		transition-delay: 0s;
	}




	.portfolio-overlay__text {
		background-color: rgba(33, 150, 243, 0.9);
		position: absolute;
		font-family: 'roboto';
		font-weight: 400;
		color: #fff;
		line-height: 1.5;
		font-size: 18px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 63px 40px;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(100%);

		.portfolio__link:hover &,
		.portfolio__link:focus & {
			transform: translateY(0);
		}
	}
}


@media screen and (min-width:1200px) {

	.section__title--section-portfolio,
	.section__title--section-advantages {
		color: $priamary-color;
		font-size: 32px;
		text-align: center;
		margin-top: 0px;
		visibility: hidden;
	}

	.buttons {
		display: flex;
		gap: 8px;
		margin-top: 0px;
		margin-bottom: 50px;
		justify-content: center;
	}

	.button {
		font-size: $title-font-size;
		font-family: 'Roboto';
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.03em;
		color: $priamary-color;
		font-weight: 500;
		border: 1px solid transparent;
		padding: 6px 22px;
		background: #f5f4fa;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
		transition: background-color $transion,
			color $transion,
			box-shadow $transion;

		&:hover,
		&:focus {
			color: $primary-white-color;
			background-color: $accent-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
			border-radius: 4px;
			transform: calc(1.2);
		}
	}

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
	}

	.portfolio-list__item {
		background: #ffffff;
		position: relative;
	}

	.portfolio__link {
		display: block;

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
		}
	}

	.portfolio-overlay {
		position: relative;
		overflow: hidden;
	}

	.img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.wrap-portfolio-text {
		padding: 24px;
		margin-top: 0px;
		border-top: none;
		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
	}

	.wrap-portfolio__title {
		color: $priamary-color;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		margin-bottom: 4px;
	}

	.wrap-portfolio__text {
		font-size: $title-font-size;
		color: $text-color;
		line-height: 1.87;
		letter-spacing: 0.03em;
	}


	.portfolio-overlay__img {
		display: block;
		max-width: 100%;
		height: auto;
		transition: opacity 0.1s linear;
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: linear;
		transition-delay: 0s;
	}




	.portfolio-overlay__text {
		background-color: rgba(33, 150, 243, 0.9);
		position: absolute;
		font-family: 'roboto';
		font-weight: 400;
		color: #fff;
		line-height: 1.5;
		font-size: 18px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 63px 40px;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transform: translateY(100%);

		.portfolio__link:hover &,
		.portfolio__link:focus & {
			transform: translateY(0);
		}
	}
}